<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Listado</title>
</head>
<body class="container mt-5">
    <div class="alert alert-dark display-1 text-center">LISTADO SEMINARIO</div>
    {% if seminario %}
    <table class="table table-striped table-dark table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>ID_inscripcion</th>
                <th>Nombre_inscripcion </th>
                <th>Telefono_inscripcion</th>
                <th>Institucion</th>
                <th>Hora_Fecha</th>
                <th>Estado_Inscripcion</th>
                <th>Observacion</th>
                <th>actualizar</th>
                <th>eliminar</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for seminario in seminario %}
            <tr>
                <td>{{ seminario.id}}</td>
                <td>{{ seminario.nombre}}</td>
                <td>{{ seminario.telefono}}</td>
                <td>{{ seminario.institucion}}</td>
                <td>{{ seminario.fechareserva}}</td>
                <td>{{ seminario.estado}}</td>
                <td>{{seminario.observacion}}</td>
                <td><a href="/actualizarseminario/{{seminario.id}}" class="btn btn-success btn-5m"><i class="bi bi-pencil"></i></a></td>
                <td><a href="/eliminarseminario/{{seminario.id}}" class="btn btn-danger btn-5m"><i class="bi bi-trash"></i></a></td>
                <td><a href="/seminario/{{seminario.id}}" class="btn btn-warning btn-5m"><i class="bi bi-server"></i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran reservas de mesa en el sistema</strong>
    </div>
    {% endif %}

    <a href="../" class="btn btn-dark">ATRAS</a>
    <a href="../agregarseminario/" class="btn btn-dark float-end">AGREGAR INSCRIPCION</a>
    
</body>
</html>